* {
  padding: 0;
  margin: 0;
}

.search-list {
  border: 1px solid gray;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 6px;
  margin-top: -7px;
  padding: 22px;
}
