.tree-view-container {
  width: 400px;
  height: 100vh;
  padding: 40px 20px;
  background-color: blueviolet;
  color: white;
}

.tree-view-label {
  padding: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.answer {
  padding: 12px 0px 12px 30px;
  cursor: pointer;
}

.inside {
  padding: 12px 0px 12px 60px;
}
