* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  color: black;
}
.heading1 {
  margin-top: 50px;
  padding-top: 50px;
}

.box {
  width: 400px;
  height: 200px;
  background-color: blue;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: translateX(0); */
  transition: 0.5s;
  transition-delay: 0.3s;
}

.box-animate {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;
}

.box:nth-of-type(even) {
  transform: translate(-400%);
}

.box:nth-of-type(odd) {
  transform: translateX(400%);
}

.box.show {
  transform: translateX(0);
}

/* /padding Start */
.pb-6 {
  padding-bottom: 6px;
}

.cursor-pointer {
  cursor: pointer;
}
/* /padding End */

button {
  padding: 18px 12px;
  border-radius: 3px;
  background-color: cadetblue;
  border: none;
  cursor: pointer;
}

.text-center {
  text-align: center;
}
